/*初始化样式*/
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font:12px"宋体","Arial Narrow",HELVETICA;-webkit-text-size-adjust:100%;background-image:url("../img/bg.jpg");}
a{color:#2d374b;text-decoration:none}
a:hover{color:#cd0200;text-decoration:none;}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}
.activeBg{
  background-color: #3F4042
}
.activeBg{
  background-color: #3F4042 !important;
}
[v-cloak] {
  display:none;

}
/*移动端屏幕适配*/
@media (min-width: 320px){html{font-size: 16px;} }
@media (min-width: 340px){html{font-size: 17px;} }
@media (min-width: 360px){html{font-size: 18px;} }
@media (min-width: 375px){html{font-size: 18.75px;} }
@media (min-width: 384px){html{font-size: 19.2px;} }
@media (min-width: 414px){html{font-size: 20.7px;} }
@media (min-width: 448px){html{font-size: 22.4px;} }
@media (min-width: 480px){html{font-size: 24px;} }
@media (min-width: 512px){html{font-size: 25.6px;} }
@media (min-width: 544px){html{font-size: 27.2px;} }
@media (min-width: 576px){html{font-size: 28.8px;} }
@media (min-width: 608px){html{font-size: 30.4px;} }
@media (min-width: 640px){html{font-size: 32px;} }
@media (min-width: 750px){html{font-size: 37.5px;} }
.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1,
.dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg)
  }
}

@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg)
  }
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0.0)
  }
  50% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }
  50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
@media only screen and (min-width: 751px) {
  .mask {
    position: absolute;
    top: 50%;
    left: 38%;
    margin-top: -120px;
    margin-left: -20px;
    z-index: 2000;
  }
}

@media only screen and (min-width: 320px) and (max-width: 750px) {
  .mask {
    position: absolute;
    top: 43%;
    left: 50%;
    margin-top: -120px;
    margin-left: -20px;
    z-index: 2000;
  }
}
